/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .container {
    width: 900px;
  }
  .header__title {
    font-size: 46px;
  }
  .header__box-stroke {
    left: 65px;
    top: -342px;
  }
  .header__box-curve_1 {
    left: 70px;
    top: -12px;
  }
  .header__box-curve_2 {
    left: 85px;
    top: -38px;
  }
  .header__box-curve_3 {
    left: 95px;
    top: -70px;
  }
  .cause-box__inner {
    width: 280px;
  }
  .nft-item__background {
    padding: 20px 10px;
  }
  .expertise-box {
    display: grid;
    grid: repeat(2, auto) / 1fr 1fr;
  }
}

@media only screen and (max-width: 1100px) {
  .feedback__slider .slick-next {
    left: calc(100% - 80px);
  }
  .feedback__slider .slick-prev {
    right: calc(100% - 80px);
  }
  .feedback__slider .slick-arrow {
    position: absolute;
    z-index: 10;
    top: calc(5%);
  }
}
@media only screen and (max-width: 901px) {
  .right-col-nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .right-col-nav__link {
    & + & {
      margin: 0;
    }
  }
  .feedback__inner {
    padding: 0 10px;
  }
  .statistic {
    gap: 10px;
  }
  .nft-item {
    & + & {
      margin-left: 10px;
    }
  }
  .statistic__box {
    flex-basis: 30%;
  }
  .statistic__box-number {
    font-size: 28px;
  }
  .dot-gradient-border {
    padding: 1px;
  }
  .dot {
    width: 10px;
    height: 10px;
  }
  .container {
    width: 800px;
  }
  .chooseus__causes {
    display: block;
  }
  .cause-box__inner {
    width: 100%;
  }
  .header__box-buttons-item {
    padding: 15px;
  }
  .accounts__card {
    padding: 54px 25px 25px 25px;
  }
}
@media only screen and (max-width: 810px) {
  .container {
    width: 100%;
  }
  .accounts__card {
    padding: 24px 15px 15px 15px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .subscribe-box__input {
    width: 254px;
  }
  .feedback__slider-item {
    flex-direction: column;
    gap: 78px;
  }
  .feedback-box {
    margin: 0;
  }
  .feedback__img-background {
    width: auto;
    height: 246px;
    flex: 0 0 auto;
  }
  .video {
    width: 542px;
    height: 272px;
  }
  .statistic {
    padding-left: 100px;
    padding-right: 100px;
  }
  .accounts__box {
    flex-direction: column;
    gap: 25px;
    padding: 0 25px;
    & + & {
      margin-left: 30px;
    }
  }
  .accounts__card {
    background-repeat: repeat-x;
  }
  .header__box-buttons-item {
    padding: 15px 28px;
  }
  .container {
    width: 600px;
  }
  .header__nav-img {
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .header__nav {
    font-size: 16px;
  }
  .header__nav-sign * {
    padding: 15px;
  }
  .header__box-bitcoin {
    display: none;
  }
  .header__box-stroke {
    left: 420px;
    top: -180px;
  }
  .header__box-curve {
    position: absolute;
    top: 410px;
  }
  .header__box-curve_1 {
    left: 150px;
  }
  .header__box-curve_2 {
    left: 170px;
  }
  .header__box-curve_3 {
    left: 190px;
  }
}

@media only screen and (max-width: 600px) {
  .explore__header-filter {
    font-size: 0px;
  }
  .filter-img {
    margin: 0;
  }
  .nft-item {
    & + & {
      margin-left: 0px;
    }
  }
  .nft-box {
    flex-direction: column;
    gap: 40px;
  }
  .dot {
    width: 5px;
    height: 5px;
  }
  .video {
    width: 442px;
    height: 272px;
  }
  .container {
    width: 500px;
  }
  .header__bar-item + .header__bar-item {
    margin-left: 0;
  }
  .header__nav-img {
    padding: 20px;
  }
  .header__box-curve {
    position: absolute;
    top: 450px;
  }
  .header__box-stroke {
    left: 420px;
    top: -230px;
  }
  .section__title {
    font-size: 32px;
  }
  /* */
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 520px) {
  .right-col-nav__link {
    font-weight: bold;
  }
  .footer-content__left-col {
    width: 100%;
  }
  .footer-content {
    flex-direction: column-reverse;
  }
  .footer-content__nav {
    justify-content: center;
    align-items: center;
  }
  .logo-img {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .subscribe-box {
    padding: 68px 0 88px 0;
  }
  .footer-content__text {
    padding: 4px;
  }
  .expertise-box {
    display: flex;
    flex-direction: column;
  }
  .explore__header {
    align-items: flex-end;
  }
  .explore__header-filter {
    height: 51px;
  }
  .statistic {
    padding: 50px;
  }
  .video {
    width: 342px;
    height: 172px;
  }
  .header__box-stroke {
    left: 326px;
    top: -214px;
  }
  .header__box-curve {
    top: 450px;
  }
  .header__title {
    font-size: 38px;
  }
  .header__nav-sign {
    position: absolute;
    right: 0;
    top: 0;
  }
  .header__nav-img {
    padding: 0;
    width: 30px;
    height: 30px;
    left: 10px;
    top: 10px;
  }
  .header__inner {
    padding-top: 40px;
  }
  .container {
    width: 400px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 425px) {
  .video {
    width: 280px;
  }
  .feedback__slider-item {
    flex-direction: column;
    gap: 98px;
  }
  .video-arrow {
    left: 100px;
  }
  .statistic {
    flex-direction: column;
    gap: 40px;
  }
  .container {
    width: 100%;
  }
  .header__nav {
    justify-content: center;
  }
  .header__box-buttons {
    justify-content: center;
  }
  .header__box-curve {
    top: 440px;
  }
  .header__box-curve_1 {
    left: 90px;
  }
  .header__box-curve_2 {
    left: 110px;
  }
  .header__box-curve_3 {
    left: 130px;
  }
  /* */
}

@media only screen and (max-width: 390px) {
  .header__title {
    font-size: 30px;
  }
  .header__box-stroke {
    left: 229px;
    top: -206px;
  }
  .header__box-curve {
    top: 420px;
  }
  .header__box-curve_1 {
    left: 60px;
  }
  .header__box-curve_2 {
    left: 80px;
  }
  .header__box-curve_3 {
    left: 100px;
  }
  .header__box-text {
    font-size: 20px;
  }
  .header__box-buttons-item {
    padding: 10px 15px;
    border-radius: 20px;
  }
  .buttons-item-container {
    border-radius: 22px;
  }
  .header__box-item {
    padding: 5px;
  }
}
@media only screen and (max-width: 320px) {
  .video {
    width: 242px;
    height: 150px;
  }
}
