@font-face {
                  font-family: Babylonica;
                  font-display: swap;
                  src: url("../fonts/Babylonica-Regular.woff2") format("woff2"), url("../fonts/Babylonica-Regular.woff") format("woff");
                  font-weight: 400;
                  font-style: normal;
              }
@font-face {
                  font-family: Babylonica;
                  font-display: swap;
                  src: url("../fonts/Babylonica-Regular.woff2") format("woff2"), url("../fonts/Babylonica-Regular.woff") format("woff");
                  font-weight: 400;
                  font-style: normal;
              }
