.header {
  height: 100vh;
  padding-top: 52px;
  width: 100%;
}
.header__inner {
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin-bottom: 140px;
}
.header__nav-img {
  padding: 10px;
  width: 74px;
  height: 80px;
}
.header__nav-bar {
  display: flex;
}
.header__bar-item {
  width: 100px;
  cursor: pointer;

  & + & {
    margin-left: 56px;
  }
}
.header__nav-sign {
  display: flex;
}
.header__nav-sign-item {
  padding: 15px 28px;
  cursor: pointer;
  border: 2px solid $dark_bg;
  border-radius: 10px;
  transition: border 0.3s;
  &:hover {
    border-color: #fff;
  }
  & + & {
    margin-left: 5px;
  }

  &_active {
    background: linear-gradient(93.51deg, $violet 3.84%, #3081ed 100.18%);
  }
}

@mixin gradient-text-blue {
  background: linear-gradient(93.51deg, $violet 2.84%, #3081ed 99.18%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bar-item-active {
  font-weight: 600;
  @include gradient-text-blue();
  border-bottom: 3px solid;
  border-image-slice: 1;
  padding-bottom: 10px;
  border-collapse: separate;
  border-image-source: linear-gradient(93.51deg, $violet 2.84%, #3081ed 99.18%);
}

.header__box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 15px;
}

.header__title {
  font-weight: 700;
  font-size: 56px;
  margin-bottom: 32px;
}

.header__title-blue {
  @include gradient-text-blue();
}

.header__box-text {
  font-weight: 400;
  font-size: 24px;
}

.header__box-text-blue {
  @include gradient-text-blue();
  font-weight: 600;
}

.header__box-curve {
  display: inline;
  position: relative;
  z-index: 10;
  top: -20px;
  transform: rotate(-0.32deg);

  &_1 {
    left: 70px;
  }
  &_2 {
    left: -130px;
  }
  &_3 {
    left: -330px;
  }
}

.header__box-stroke {
  display: inline;
  position: relative;
  z-index: 10;
  left: 529px;
  top: -276px;
  top: -220px;
}

.header__box-buttons {
  display: flex;
}

.buttons-item-container {
  border-radius: 12px;
  padding: 2px;
  background-image: linear-gradient(93.51deg, $violet 2.84%, #3081ed 99.18%);
  transition: background-image 0.3s;
}

.header__box-buttons-item {
  font-size: 16px;
  padding: 15px 28px;
  cursor: pointer;
  border: 2px solid $dark_bg;
  border-radius: 10px;
  background: $dark_bg;
  transition: border 0.3s;

  & + & {
    margin-left: 5px;
  }

  &_active {
    margin-left: 45px;
    border: 2px solid $dark_bg;
    background: linear-gradient(93.51deg, $violet 3.84%, #3081ed 100.18%);
  }
}

.header__star {
  margin: 0 60%;
  width: 64px;
  height: 64px;
}