.feedback {
  margin-bottom: 150px;
}
.feedback__inner {
}

.feedback__slider-item {
  @include gradient-border();
  color: #fff;
  border-radius: 20px;
  display: flex;
  padding: 26px;
}

.feedback__img-background {
  width: 376px;
  height: 376px;
  background: #51c9ff;
  border-radius: 20px;
  padding: 0 18px;
  flex: 0 0 376px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.feedback__img {
  display: block;
  max-height: 100%;
}

.feedback-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 78px;
}

.feedback__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 25px;
}

.feedback__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 5px;
}

.feedback__job {
  font-weight: 400;
  font-size: 12px;
}

.feedback__title {
  margin-bottom: 82px;
}
