.statistic {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(93.51deg, #9b51e0 2.84%, #3081ed 99.18%);
  padding: 58px 150px;
  border-radius: 10px;
  margin-bottom: 111px;
}

.statistic__box-number {
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
}

.video-box {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 95px;
}

.statistic__box-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.video-box__gradient-border {
  padding: 2px;
  background: linear-gradient(93.51deg, #9b51e0 2.84%, #3081ed 99.18%);
  border-radius: 20px;
  box-shadow: 0px 20.755px 41.51px rgba(25, 55, 102, 0.25);
}

.video-box__background {
  background: #101010;
  padding: 18px 20px 27px 20px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-box__dots {
  display: flex;
  justify-content: center;
  margin-bottom: 17px;
}

.dot-gradient-border {
  padding: 2px;
  background: linear-gradient(93.51deg, #9b51e0 2.84%, #3081ed 99.18%);
  border-radius: 20px;

  & + & {
    margin-left: 9px;
  }
}

.dot {
  width: 13px;
  height: 13px;
  border-radius: 50%;

  &-red {
    background: #fc1f6f;
  }
  &-yellow {
    background: #ffcc18;
  }
  &-green {
    background: #1df359;
  }
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 642px;
  height: 372px;
  background-image: url('../img/video__placeholder.png');
  border-radius: 7px;
}
.video-arrow{
  width: 108px;
  position: relative;
  top: 55px;
  left: 145px;
}

.video__play-container {
  background: #fff;
  padding: 24px 24px 24px 30px;
  border-radius: 50%;
}