.expertise {
  margin-bottom: 160px;
}
.expertise__inner-gradient-border {
  @include gradient-border();
  padding: 1px;
  border-radius: 10px;
}
.expertise__inner {
  display: flex;
  background: $dark_bg;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  padding: 23px 23px 0 23px;
}
.expertise__inner .section__title {
  margin-bottom: 46px;
}
.expertise-img {
  margin-bottom: 14px;
}
.expertise-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-bottom: 67px;
}
.expertise-box__gradient-border {
  @include gradient-border();
  display: block;
  padding: 1px;
  border-radius: 10px;
}
.expertise-box__item {
  padding: 25px 20px 15px 20px;
  background: $dark_bg;
  border-radius: 9px;

  svg {
    width: 150px;
    height: 30px;
  }
}
.expertise-box__item * {
  color: yellow;
}
