.chooseus {
  margin-bottom: 60px;
}

.chooseus__inner {
  width: 100%;
}

.gradient-text-blue {
  background: linear-gradient(93.51deg, $violet 2.84%, #3081ed 99.18%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.section__title {
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
}

.chooseus__purple-circle {
  border-radius: 50%;
  box-shadow: 0px 0px 400px 100px #794cec;
  position: absolute;
  left: 50%;
  top: 130vh;
  z-index: -1;
}

.chooseus__causes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.chooseus__icon {
  width: 48px;
  height: 48px;
}

.chooseus__icon-container {
  position: relative;
  left: 130px;
  top: 49px;
  display: inline-block;
  background: linear-gradient(93.51deg, $violet 2.84%, #3081ed 99.18%);
  padding: 25px;
  border-radius: 50%;
}

@mixin gradient-border {
  border-radius: 12px;
  padding: 2px;
  background-image: linear-gradient(93.51deg, $violet 2.84%, #3081ed 99.18%);
}

.cause-box-border {
  @include gradient-border()
}

.cause-box__inner {
  padding-top: 40px;
  width: 360px;
  height: 185px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $dark_bg;
  border-radius: 10px;
}

.cause-box-title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 16px;
}

.cause-box-text {
  font-weight: 500;
  font-size: 16px;
  color: rgba(#fff, 0.7);
}
